
@font-face {
    font-family: 'Le Murmure';
    src: url('fonts/LeMurmure-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Sporting_Grotesque';
    src: url('fonts/Sporting_Grotesque-Regular_web.otf');
    font-weight: normal;
    font-style: normal;
  }

html {
  background-color: #FCF8F0;
  color: #49001C;
  margin: 0;
  background-image: url("images/flowers2.svg");
  background-position: top left;
  background-repeat: no-repeat;
}

  body {
    margin: 0;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Sporting_Grotesque';
  }

.top-ribbon {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #49001C;
  color: #FCF8F0;
  line-height: 1;
  width: 100%;
}

  .top-ribbon p{
    font-size: .8rem;
    padding: 10px 10px 10px 10px;
    margin: 0;
  }

  .starburst-light-small {
    height: 15px;
    padding-bottom: 4px;
  }

.page-navigation {
  display: flex;
  justify-content: center;
  background-color: rgba(18, 19, 20, .06);

}

  .page-navigation a {
    padding: 20px;
    text-decoration: none;
    color: #49001C;
    margin: 0;
  }

  .page-navigation a:hover{
    text-decoration: underline;
    color: black;
  }

/*Page Introt*/
.page-content-intro {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

  .page-content-intro p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
  }

  .page-content-intro h3 {
    font-size: 1.5rem;
    margin-top: 0;
  }

.page-header {
  font-family: 'Le Murmure';
  font-size: 11rem;
  margin: 16px 0;
  color: #240310;
}

/*german house*/
.page-content-german-house {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(183, 185, 177, 0.42);
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

.page-content-german-house div {
  padding-left: 40px;
  padding-right: 40px;
}

  .german-house-text {
    width: 40%;
  }

  .german-house-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #3F3F45;
  }

  .german-house-text h2 {
    color: #2B2630;
  }


  .german-house-photo {
    width: auto;
  }
